body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-color: #333;
  box-sizing: border-box;
}

body > header {
  display: flex;
  justify-content: center;
  text-align: center;
  color: white;
}

body > header h1 {
  max-width: 600px;
  width: 90%;
  text-align: center;
}

body > main {
  display: flex;
  flex: 1;
  align-items: flex-start;
}

body > footer {
  display: flex;
  justify-content: center;
  color: white;
  background-color: transparent;
}

body > footer > span {
  max-width: 90%;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

body > footer > span > span {
  width: 100%;
  padding-block: 4px;
}

#container {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 600px;
  aspect-ratio: 16/9;
  background-color: #111;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  background-color: #AAA;
  padding: 2px;
  margin: 0;
  cursor: default;
}

nav ul li {
  padding: 4px 8px;
}

nav ul li:hover {
  background-color: #CCC;
  box-shadow: -1px -1px black inset;
}

nav li.dropdown {
  position: relative;
}

nav .dropdown ul {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(100%);
  outline: 1px solid black;
  cursor: default;
}

nav .dropdown ul li {
  box-shadow: none;
}

nav .dropdown ul.open {
  display: flex;
  flex-direction: column;
}

.main-container {
  display: flex;
  flex: 1;
  background-color: black;
}

aside {
  background-color: #AAA;
}

aside div {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 50px;
}

aside button {
  width: 24px;
  height: 24px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #AAA;
  border: 1.5px solid #eee;
  border-right-color: #000;
  border-bottom-color: #000;
}

aside button.active {
  background-color: #CCC;
  border-color: #000;
  border-right-color: #eee;
  border-bottom-color: #eee;
}

aside button.disabled {
  background-color: #888;
  border-color: #000;
  border-right-color: #eee;
  border-bottom-color: #eee;
}

#draw {
  background-image: url(./icons/draw.png);
}

#erase {
  background-image: url(./icons/erase.png);
}

#rectangle {
  background-image: url(./icons/rectangle.png);
}

#ellipse {
  background-image: url(./icons/ellipse.png);
}

#picker {
  background-image: url(./icons/picker.png);
}

#fill {
  background-image: url(./icons/fill.png);
}

#undo {
  background-image: url(./icons/undo.png);
}

.trash {
  background-image: url(./icons/trash.png);
}

main {
  flex: 1;
  display: flex;
  justify-content: center;
}

canvas {
  width: 90%;
  height: 100%;
  background-color: white;
  touch-action: none;
}

footer{
  background-color: #AAA;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  padding-block: 2px;
}

footer .footer-colors {
  display: flex;
  align-items: center;
  gap: 8px;
}

footer .color-picker {
  display: flex;
  padding: 4px;
  align-items: center;
}

footer .custom-colors {
  display: grid;
  grid-template-columns: repeat(5, 20px);
  gap: 2px;
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

footer .custom-colors li {
  background-color: #CCC;
  width: 100%;
  aspect-ratio: 1;
  box-shadow: -1px -1px black;
}

footer .custom-colors li.active {
  box-shadow: 1px 1px white;
}

footer button.trash {
  width: 24px;
  height: 24px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #AAA;
  border: 1.5px solid #eee;
  border-right-color: #000;
  border-bottom-color: #000;
}

footer .footer-tool-size {
  display: flex;
  gap: 4px;
  padding: 4px;
}

footer .footer-tool-size #tool-size {
  width: 2rem;
  text-align: center;
}

footer .footer-tool-size button {
  width: 24px;
  height: 24px;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer .footer-tool-size button {
  width: 24px;
  height: 24px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #AAA;
  border: 1.5px solid #eee;
  border-right-color: #000;
  border-bottom-color: #000;
}

footer .footer-tool-size button.disabled {
  background-color: #888;
  border-color: #000;
  border-right-color: #eee;
  border-bottom-color: #eee;
}
